*.obj
*.a
*.o
*.s
*.il
*.ii
*.ilk
*.ilb
*.ils
*.ilc
*.ild
*.ilf
*.idb
*.map
*.drc
*.tds
*.pdb
*.pch
*.gch
*.lib
*.exe
*.bak
*.sdf
*.log
*.tlog
*.ipch
*.stat
*.Release
*.Debug
*.cache
*.~*
*.#*
debug/*
realese/*
*.err